version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    groups:
      all:
        patterns:
          - "*"

  # Bump dockerfile FROM
  - package-ecosystem: docker
    directory: /
    schedule:
      interval: weekly
